<ng-container>
<tds-header class="tds-u-fixed tds-u-top0">

  <tds-header-hamburger
    id="demo-hamburger"
    aria-label="Open application drawer"
    aria-haspopup="true"
    aria-expanded="false"
  ></tds-header-hamburger>

  <tds-header-title><tds-link><a style="color: white" routerLink="/">LiveO</a></tds-link></tds-header-title>
  <tds-header-item [attr.selected]="isActive('/page1')">
    <a style="text-decoration-color: white" routerLink="/page1">About</a>
  </tds-header-item>

</tds-header>
</ng-container>
