<ng-container>
<tds-header class="tds-u-fixed tds-u-top0">

  <tds-header-hamburger
    id="demo-hamburger"
    aria-label="Open application drawer"
    aria-haspopup="true"
    aria-expanded="false"
  ></tds-header-hamburger>

  <tds-header-title><tds-link><a style="color: white" routerLink="/">My Live O</a></tds-link></tds-header-title>
  <tds-header-item [attr.selected]="isActive('/page1')">
    <a style="text-decoration-color: white" routerLink="/page1">Page one</a>
  </tds-header-item>
  <tds-header-brand-symbol slot="end">dsds
    <a routerLink="/" aria-label="Home"></a>
  </tds-header-brand-symbol>

</tds-header>
</ng-container>
