<tds-block class="tds-container" xmlns="http://www.w3.org/1999/html">
  Comp. Filter:
  <span *ngFor="let s of compList" style="display:inline-block;margin-left: 10px">
    <tds-link ><a (click)="selectFilterComp(s)" href="#">{{s}}</a></tds-link>
  </span>
  <span style="display:inline-block;margin-left: 10px">
    <tds-link><a (click)="backComp()" href="#"><<</a></tds-link>
  </span>
  <br/>
  User Filter:
  <span *ngFor="let u of userList" style="display:inline-block;margin-left: 10px">
    <tds-link ><a (click)="selectFilterUser(u)" href="#">{{u}}</a></tds-link>
  </span>
  <span style="display:inline-block;margin-left: 10px">
    <tds-link><a (click)="backUser()" href="#"><<</a></tds-link>
  </span>
  <br/>
  Today:

  <span *ngFor="let c of filterToday(competitionsOrig)" style="display:inline-block;margin-left: 10px">
    <tds-link>
      <a href="#" (click)="clickCompetition(c.id)" >{{c.name}}</a>
    </tds-link>
  </span>

</tds-block>

<tds-block class="tds-container">
  <p *ngIf="competitionInfo">{{competitionInfo.id + ' ' + competitionInfo.name}}</p>
        <tds-inline-tabs default-selected-index="0" #tabs>
          <tds-inline-tab>
            <button id="tab0">Live</button>
          </tds-inline-tab>
          <tds-inline-tab>
            <button id="tab1">Competitions</button>
          </tds-inline-tab>
          <tds-inline-tab>
            <button id="tab2">Info</button>
          </tds-inline-tab>
        </tds-inline-tabs>
        <div class="tabs-panel">
          <span [hidden]="0 !== selectedIndex">
          <div style="display:inline-block;padding-right: 5px"><tds-icon name="search"></tds-icon></div>
              <div style="display:inline-block">
                <input  [(ngModel)]="txtUser"
                        type="text"
                        name="txtUser"
                        autofocus
                        required
                        placeholder="Filter"
                        [ngModelOptions]="{standalone: true}">
              </div>

              <button type="button" (click)="submitFormUser()">>></button>

              <tds-table vertical-dividers="false" compact-design="true" responsive="true" no-min-width>
                <tds-table-header>
                  <tds-header-cell column-key="className" column-title="Class"></tds-header-cell>
                  <tds-header-cell column-key="place" column-title="#"></tds-header-cell>
                  <tds-header-cell column-key="name" column-title="Name"></tds-header-cell>
                  <tds-header-cell column-key="start" column-title="Start"></tds-header-cell>
                  <tds-header-cell column-key="split" column-title="Split"></tds-header-cell>
                  <tds-header-cell column-key="result" column-title="Result"></tds-header-cell>
                  <tds-header-cell column-key="status" column-title="Status"></tds-header-cell>
                  <tds-header-cell column-key="progress" column-title="Progress"></tds-header-cell>
                </tds-table-header>
                <tds-table-body *ngFor="let arr of resultsObjArray">
                  <tds-table-body-row *ngFor="let r of arr.filteredResults">
                    <tds-body-cell disable-padding="false">
                      <tds-link>
                        <a href="https://liveresultat.orientering.se/followfull.php?comp={{competitionInfo.id}}&lang=sv#{{arr.className}}" target="_blank" >{{arr.className}}</a>
                    </tds-link>
                    </tds-body-cell>
                    <tds-body-cell disable-padding="false" >
                       {{r.place}}
                    </tds-body-cell>
                    <tds-body-cell disable-padding="false" >
                      {{r.name}}
                    </tds-body-cell>
                    <tds-body-cell disable-padding="false"  >
                      {{toTimeString(r.start)}}
                    </tds-body-cell>
                    <tds-body-cell disable-padding="false" >

                    </tds-body-cell>
                    <tds-body-cell disable-padding="false">
                      {{r.result}} <span style="font-size: smaller">({{r.timeplus}})</span>
                    </tds-body-cell>
                    <tds-body-cell disable-padding="false">
                      {{r.status}}
                    </tds-body-cell>
                    <tds-body-cell disable-padding="false">
                      {{r.progress}}
                    </tds-body-cell>

                  </tds-table-body-row>
                </tds-table-body>
              </tds-table>

          </span>
          <span [hidden]="1 !== selectedIndex">
        <div style="display:inline-block;padding-right: 5px"><tds-icon name="search"></tds-icon></div>
            <div style="display:inline-block">
              <input  [(ngModel)]="txtComp"
                      type="text"
                      name="txtSearch"
                      autofocus
                      required
                      (ngModelChange)="doFilterComp()"
                      placeholder="Filter"
                      [ngModelOptions]="{standalone: true}">
            </div>

            <button type="button" (click)="submitFormComp()">>></button>
            <div >
              <dl>
                <dt *ngFor="let c of competitions" [style.font-weight]="c.date===todayDate?'bold':''" ><tds-link>
                  {{c.date}}  <a href="#" (click)="clickCompetition(c.id)" >{{c.name}}</a></tds-link>
                </dt>
              </dl>

            </div>


          </span>
          <span [hidden]="2 !== selectedIndex">
            <p>
              {{competitionInfo.id}}
              {{competitionInfo.name}}
              {{competitionInfo.date}}
              {{competitionInfo.organizer}}
            </p>
            <tds-table vertical-dividers="true" compact-design="true" responsive="true" no-min-width>
              <tds-table-header>
                <tds-header-cell column-key="className" column-title="Class"></tds-header-cell>
              </tds-table-header>
              <tds-table-body>
                <tds-table-body-row *ngFor="let cl of classesObj.classes">

                  <tds-body-cell disable-padding="false">
                    <tds-link>
                      <a href="https://liveresultat.orientering.se/followfull.php?comp={{competitionInfo.id}}&lang=sv#{{cl.className}}" target="_blank" >{{cl.className}}</a>
                    </tds-link>
                  </tds-body-cell>
                </tds-table-body-row>
              </tds-table-body>
            </tds-table>
          </span>
        </div>
</tds-block>




